<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <!--<user-list/>-->
                    <div class="p-6 sm:px-20 bg-white border-b border-gray-200">
                        <div class="mt-6 text-gray-500">
                            <div class="p-4">
                                <label for="search_user">Search Username: </label>
                                <input type="text" id="search_user" v-model="search_param" @keyup="searchUser"
                                       class="ml-2 px-2 py-1 text-sm rounded border">
                                <inertia-link class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" :href="$route('dashboard.create')">Create User</inertia-link>
                            </div>

                            <table class="table-auto">
                                <tr class="bg-gray-900 text-white">
                                    <th class="px-2 py-1 text-sm font-bold text-left"><input type="checkbox"
                                                                                             @change="isCheckedAll($event)"/>
                                        All
                                    </td> </th>
                                    <th class="px-2 py-1 text-sm font-bold text-left">ID</th>
                                    <th class="px-2 py-1 text-sm font-bold text-left">Username</th>
                                    <th class="px-2 py-1 text-sm font-bold text-left">First Name</th>
                                    <th class="px-2 py-1 text-sm font-bold text-left">Last Name</th>
                                    <th class="px-2 py-1 text-sm font-bold text-left">Address</th>
                                    <th class="px-2 py-1 text-sm font-bold text-left">Postcode</th>
                                    <th class="px-2 py-1 text-sm font-bold text-left">Contact Phone Number</th>
                                    <th class="px-2 py-1 text-sm font-bold text-left">Email</th>
                                </tr>
                                <tr v-for="user in users.data">
                                    <td class="px-2 py-1 text-sm text-left"><input type="checkbox"
                                                                                   :checked="user.isChecked" @change='updateCheck(user.id)'></td>
                                    <td class="px-2 py-1 text-sm text-left">
                                        <inertia-link :href="$route('dashboard.edit',user.id)">{{ user.id }}
                                        </inertia-link>
                                    </td>
                                    <td class="px-2 py-1 text-sm text-left">{{ user.username}}</td>
                                    <td class="px-2 py-1 text-sm text-left">{{ user.first_name}}</td>
                                    <td class="px-2 py-1 text-sm text-left">{{ user.last_name}}</td>
                                    <td class="px-2 py-1 text-sm text-left">{{ user.address}}</td>
                                    <td class="px-2 py-1 text-sm text-left">{{ user.postcode}}</td>
                                    <td class="px-2 py-1 text-sm text-left">{{ user.contact_phone_number}}</td>
                                    <td class="px-2 py-1 text-sm text-left">{{ user.email}}</td>
                                </tr>
                            </table>
                            <div class="p-5 flex justify-end">
                                <inertia-link class="px-2" :href="users.prev_page_url">Previous</inertia-link>
                                <inertia-link class="px-2" :href="users.next_page_url">Next</inertia-link>
                            </div>
                            <div class="p5 flex justify-first">
                                <button @click="multipleDelete"
                                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                        type="submit">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from './../Layouts/AppLayout'
    // import UserList from './../Jetstream/UserList'

    export default {

        data() {
            return {
                search_param: null,
                form: {
                    user_id: []
                },
            }
        },

        props: {
            users: Object,
        },


        components: {
            AppLayout,
            // UserList,
        },
        methods: {
            searchUser() {
                this.$inertia.replace(route('dashboard.index', {search_param: this.search_param}))
            },
            isCheckedAll(e) {
                let val = e.target.checked
                console.log(e)
                let data = this.users.data;
                let arr = [];
                arr = data.map(item => {
                    return {
                        ...item,
                        isChecked: val
                    }
                });
                this.users.data = arr;
            },
            updateCheck(id){
                let data = this.users.data;
                let arr = data.map(item =>{
                    let dataval = item.id == id ? {...item, isChecked: !item.isChecked} : {...item};
                    return dataval;
                })
                this.users.data = arr;
            },
            multipleDelete() {
                let data = this.users.data;
                this.form.user_id = data.filter(item => item.isChecked).map(item => item.id);
                console.log(this.form.user_id);
                this.$inertia.put(route('dashboard.destroy'), this.form.user_id, {
                    replace: false,
                    preserveState: true,
                    preserveScroll: false,
                    only: [],
                    headers: {},
                });

            }
        },

    }
</script>
