<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Create User
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg">
                    <!--<user-list/>-->
                    <div class="p-6 sm:px-20 bg-white border-b border-gray-200">
                        <div class="mt-6 text-gray-500">

                            <form class="w-full max-w-lg" @submit.prevent="createUser()">

                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full px-3">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                               for="username">
                                            Username
                                        </label>
                                        <input v-model="form.username"
                                               class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                               id="username" type="text" placeholder="">

                                    </div>
                                </div>

                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full px-3">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                               for="username">
                                            Email
                                        </label>
                                        <input v-model="form.email"
                                               class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                               id="email" type="text" placeholder="">

                                    </div>
                                </div>

                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full px-3">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                               for="first-name">
                                            First Name
                                        </label>
                                        <input v-model="form.first_name"
                                               class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                               id="first-name" type="text" placeholder="">

                                    </div>
                                </div>

                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full px-3">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                               for="last-name">
                                            Last Name
                                        </label>
                                        <input v-model="form.last_name"
                                               class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                               id="last-name" type="text" placeholder="">

                                    </div>
                                </div>

                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full px-3">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                               for="address">
                                            Address
                                        </label>
                                        <input v-model="form.address"
                                               class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                               id="address" type="text" placeholder="">

                                    </div>
                                </div>
                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full px-3">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                               for="postcode">
                                            Postcode
                                        </label>
                                        <input v-model="form.postcode"
                                               class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                               id="postcode" type="text" placeholder="">

                                    </div>
                                </div>
                                <div class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full px-3">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                               for="contact-phone-number">
                                            Contact Phone Number
                                        </label>
                                        <input v-model="form.contact_phone_number"
                                               class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                               id="contact-phone-number" type="text" placeholder="">

                                    </div>
                                </div>

                                <div v-model="form.password" class="flex flex-wrap -mx-3 mb-6">
                                    <div class="w-full px-3">
                                        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                               for="grid-password">
                                            Password
                                        </label>
                                        <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                               id="grid-password" type="password" placeholder="******************">

                                    </div>
                                </div>

                                <div class="flex items-center justify-between">
                                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                                        Create
                                    </button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from './../Layouts/AppLayout'

    export default {

        components: {
            AppLayout,
        },
        data() {
            return {
                form: {
                    username: '',
                    first_name: '',
                    last_name: '',
                    address: '',
                    postcode: '',
                    contact_phone_number: '',
                    email: '',
                    password: '',
                }
            }
        },
        methods: {
            createUser() {
                let data = new FormData();
                data.append('username', this.form.username);
                data.append('first_name', this.form.first_name);
                data.append('last_name', this.form.last_name);
                data.append('address', this.form.address);
                data.append('postcode', this.form.postcode);
                data.append('contact_phone_number', this.form.contact_phone_number);
                data.append('email', this.form.email);
                data.append('password', this.form.password);

                this.$inertia.post(route('dashboard.store'), data, {
                    replace: false,
                    preserveState: true,
                    preserveScroll: false,
                    only: [],
                    headers: {},
                });
            }
        }

    }
</script>
