<template>
    <jet-form-section @submitted="updateProfileInformation">
        <template #title>
            Profile Information
        </template>

        <template #description>
            Update your account's profile information and email address.
        </template>

        <template #form>
            <!-- Profile Photo -->
            <div class="col-span-6 sm:col-span-4" v-if="$page.jetstream.managesProfilePhotos">
                <!-- Profile Photo File Input -->
                <input type="file" class="hidden"
                       ref="photo"
                       @change="updatePhotoPreview">

                <jet-label for="photo" value="Photo"/>

                <!-- Current Profile Photo -->
                <div class="mt-2" v-show="! photoPreview">
                    <img :src="$page.user.profile_photo_url" class="rounded-full h-20 w-20">
                </div>

                <!-- New Profile Photo Preview -->
                <div class="mt-2" v-show="photoPreview">
                    <span class="block rounded-full w-20 h-20"
                          :style="'background-size: cover; background-repeat: no-repeat; background-position: center center; background-image: url(\'' + photoPreview + '\');'">
                    </span>
                </div>

                <jet-secondary-button class="mt-2" type="button" @click.native.prevent="selectNewPhoto">
                    Select A New Photo
                </jet-secondary-button>

                <jet-input-error :message="form.error('photo')" class="mt-2"/>
            </div>

            <!-- Name -->
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="username" value="Username"/>
                <jet-input id="username" type="text" class="mt-1 block w-full" v-model="form.username"
                           autocomplete="username"/>
                <jet-input-error :message="form.error('username')" class="mt-2"/>
            </div>

            <!-- Name -->
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="first_name" value="First Name"/>
                <jet-input id="first_name" type="text" class="mt-1 block w-full" v-model="form.first_name"
                           autocomplete="first_name"/>
                <jet-input-error :message="form.error('first_name')" class="mt-2"/>
            </div>

            <!-- Name -->
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="last_name" value="Last Name"/>
                <jet-input id="last_name" type="text" class="mt-1 block w-full" v-model="form.last_name"
                           autocomplete="last_name"/>
                <jet-input-error :message="form.error('last_name')" class="mt-2"/>
            </div>

            <div class="col-span-6 sm:col-span-4">
                <jet-label for="address" value="Address"/>
                <jet-input id="address" type="text" class="mt-1 block w-full" v-model="form.address"
                           autocomplete="address"/>
                <jet-input-error :message="form.error('address')" class="mt-2"/>
            </div>

            <!-- Name -->
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="postcode" value="Postcode"/>
                <jet-input id="postcode" type="text" class="mt-1 block w-full" v-model="form.postcode"
                           autocomplete="postcode"/>
                <jet-input-error :message="form.error('postcode')" class="mt-2"/>
            </div>

            <!-- Name -->
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="contact_phone_number" value="Contact Phone Number"/>
                <jet-input id="contact_phone_number" type="text" class="mt-1 block w-full"
                           v-model="form.contact_phone_number" autocomplete="contact_phone_number"/>
                <jet-input-error :message="form.error('contact_phone_number')" class="mt-2"/>
            </div>

            <!-- Email -->
            <div class="col-span-6 sm:col-span-4">
                <jet-label for="email" value="Email"/>
                <jet-input id="email" type="email" class="mt-1 block w-full" v-model="form.email"/>
                <jet-input-error :message="form.error('email')" class="mt-2"/>
            </div>
        </template>

        <template #actions>
            <jet-action-message :on="form.recentlySuccessful" class="mr-3">
                Saved.
            </jet-action-message>

            <jet-button :class="{ 'opacity-25': form.processing }" :disabled="form.processing">
                Save
            </jet-button>
        </template>
    </jet-form-section>
</template>

<script>
    import JetButton from './../../Jetstream/Button'
    import JetFormSection from './../../Jetstream/FormSection'
    import JetInput from './../../Jetstream/Input'
    import JetInputError from './../../Jetstream/InputError'
    import JetLabel from './../../Jetstream/Label'
    import JetActionMessage from './../../Jetstream/ActionMessage'
    import JetSecondaryButton from './../../Jetstream/SecondaryButton'

    export default {
        components: {
            JetActionMessage,
            JetButton,
            JetFormSection,
            JetInput,
            JetInputError,
            JetLabel,
            JetSecondaryButton,
        },

        props: [
            'username',
            'first_name',
            'last_name',
            'address',
            'postcode',
            'contact_phone_number',
            'email'],

        data() {
            return {
                form: this.$inertia.form({
                    '_method': 'PUT',
                    username: this.username,
                    first_name: this.first_name,
                    last_name: this.last_name,
                    address: this.address,
                    postcode: this.postcode,
                    contact_phone_number: this.contact_phone_number,
                    email: this.email,
                    photo: null,
                }, {
                    bag: 'updateProfileInformation',
                    resetOnSuccess: false,
                }),

                photoPreview: null,
            }
        },

        methods: {
            updateProfileInformation() {
                if (this.$refs.photo) {
                    this.form.photo = this.$refs.photo.files[0]
                }

                this.form.post('/user/profile-information', {
                    preserveScroll: true
                });
            },

            selectNewPhoto() {
                this.$refs.photo.click();
            },

            updatePhotoPreview() {
                const reader = new FileReader();

                reader.onload = (e) => {
                    this.photoPreview = e.target.result;
                };

                reader.readAsDataURL(this.$refs.photo.files[0]);
            }
        },
    }
</script>
